@import "tailwindcss";

:root {
  --background: #F0F0DB;
  --surface: #FFFFFF;

  /* invitation */
  --color-1: #2c5d6d; 
  --color-2: #a37a65;
  --color-3: #bccdd2;
  --color-4: #668d97;
  --color-5: #225262;
  --color-6: #f8dbba;

  --primary: #30364F;
  --secondary: #ACBAC4;
  --accent: #E1D9BC;

  --highlight: #4F46E5;

  /* landing page */
  --text-main: #30364F;
  --text-muted: #6B7280;

  /* breathing
  codec pro/snow buddy
  alice
  alice bold 
  belleza */

}

@font-face {
  font-family: "Breathing";
  src: url("/fonts/Breathing.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Breathing2";
  src: url("/fonts/Breathing2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Snow Buddy";
  src: url("/fonts/SnowBuddy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-background: var(--background);
  --color-highlight: var(--highlight);

  --color-invitation: var(--color-5);
  --color-colorName: var(--color-2);

  --color-text: var(--text-main);
  --color-muted: var(--text-muted);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text-main);
}


@keyframes fly-across {
  0% {
    transform: translate(100vw, 50vh);
  }
  30% {
    transform: translate(50vw, 45vh);
  }
  60% {
    transform: translate(0vw, 40vh);
  }
  100% {
    transform: translate(-100vw, 35vh);
  }
}

.animate-fly-across {
  animation: fly-across 30s linear infinite;
}


/* @keyframes fly-across {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
} */